/* Ajustando o height */
html, body, #home {
    height: 100%;
    min-height: 830px;
    min-width: 260px;
    overflow-x: hidden;
}

/* Background da página */
body {
    background-color: #ececec;
}

/* Cabeçalho */
header {
    background-color: rgba(35, 35, 35, 0.9);
}

header a {
    color: #ececec;
}

header a:hover {
    color: #ececec;
}

header ul a:hover {
    color: #5988FF;
}

header nav i {
    color: #ececec;
    font-size: 1.5em;
}

/* Conteúdo */
#home .container {
    margin-top: 77px;
}

#home img {
    border: 2px solid #1344C2;
}

#home img:hover {
    border: 2px solid #5988FF;
}

.btn-custom {
    background-color: #1344C2;
    color: #ececec;
}

.btn-custom:hover {
    background-color: #5988FF;
    color: #ececec;
}

/* MEDIA QUERIES */
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    header {
        font-size: 0.8em;
    }

    header h1 {
        font-size: 1.4em;
    }

    #home h2 {
        font-size: 1.7em;
    }

    #home img {
        height: 210px;
        min-width: 200px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    header {
        font-size: 0.9em;
    }

    header h1 {
        font-size: 1.5em;
    }

    #home h2 {
        font-size: 2em;
    }

    #home img {
        height: 210px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #home h2 {
        font-size: 2.2em;
    }

    #home img {
        height: 275px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
}
