:root{
    --cor1: #141414;
    --cor2: #E50914;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* elementos base da navegação */

body{
    background: var(--cor1);
    font-family: "Verdana", Times, serif;
    color: white;
}

header .container{
    display: flex;
    flex-direction: row; /* isso já vem pré-setado com o flexbox para formatar em linha, mas pode ser modificado */
    align-items: center;
    justify-content: space-between;
}

header .logo{
    margin-left: 5px;
    color: var(--cor2);
    font-family: 'Arial Black';
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
}

header nav a:hover{
    color: #fff;
}

/* anime principal */

.anime-principal{
    font-size: 16px;
    background-image: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), 
    url('/Projetos-DIO/dio-projeto-netflix/img/capa-myhero.jpg');
    
    height: 400px;
    background-size: cover;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.anime-principal .descricao{
    margin-top: 10px;
    margin-bottom: 45px;
}

.anime-principal .titulo{
    margin-top: 10%;
    font-size: 35px;
    font-family: Helvetica, Verdana, sans-serif;
}

.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color: white;
    color: black;
}

.botao i{
    margin-right: 8px;
}

.container{
    margin-left: 10px;
}

.anime-principal .container{
    width: 80%;
}

/* Carrossel de Animes */

.box-anime{
    height: 100%;
    width: 100%;
    display: block;
}

.carrossel-animes{
    margin-top: 5px;
}
