*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: #bbbbbb;
}

/* cabeçalho */
header .container{
    display: flex;

    padding: 5px;
    padding-left: 20px;
    margin: 10px;

    background-color: white;
}

/* conversas/contatos */
main{
    border: 1px solid blue;
    display: flex;
    margin: 10px;
}

main .chats{
    display: flex;
    flex-direction: column;
    align-items: left;

    padding: 10px 10px 295px 10px; /* a ordem aqui é: superior - direita - inferior - esquerda */
    margin: 0px 5px 0px 0px;

    background-color: white;
}

main .friend{
    display: flex;
    align-items: center;

    padding: 5px 130px 5px 5px;
    margin-top: 5px;

    background-color: #bbbbbb;
    border-radius: 5px;
}

.avatar{
    border: 2px solid white;
    border-radius: 50%;
    width: 40px;
    margin-right: 10px;
}

/* conversa */
main .chat-area{
    display: flex;

    padding: 5px;
    padding-left: 5px;

    background-color: white;
}