:root{
    --cor1: #141414;
    --cor2: #E50914;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* elementos base da navegação */

body{
    background: var(--cor1);
    font-family: "Times New Roman", Times, serif;
    color: white;
}

header .container{
    display: flex;
    flex-direction: row; /* isso já vem pré-setado com o flexbox para formatar em linha, mas pode ser modificado */
    align-items: center;
    justify-content: space-between;
}

header .logo{
    margin-left: 5px;
    color: var(--cor2);
    font-family: 'Arial Black';
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
}

header nav a:hover{
    color: #fff;
}

/* anime principal */

.anime-principal{
    font-size: 16px;
    background-image: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('/dio-projeto-netflix/img/capa-myhero.jpg');
    
    height: 400px;
    background-size: cover;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.anime-principal .descricao{
    margin-bottom: 70px;
}

.titulo{
    font-size: 35px;
}