
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #ececec;
}

.normal {
    background-color: #bdbfaf;
} 

.poison {
    background-color: #a85ea0;
}

.psychic {
    background-color: #f763b1;
}

.grass {
    background-color: #8bd652;
}

.ground {
    background-color: #eacb56;
}

.ice {
    background-color: #97f2ff;
}

.fire {
    background-color: #fa5541;
}

.rock {
    background-color: #cfbb73;
}

.dragon {
    background-color: #8675fc;
}

.water {
    background-color: #56aaff;
}

.bug {
    background-color: #bbc930;
} 

.dark {
    background-color: #7e604c;
} 

.fighting {
    background-color: #a2554a;
} 

.ghost {
    background-color: #7975d6;
} 

.steel {
    background-color: #c3c1db;
}

.flying {
    background-color: #7aa4ff;
} 

.electric {
    background-color: #fbe53b;
} 

.fairy {
    background-color: #fbaeff;
} 

.content {
    background-color: white;
    padding: 1rem;
    width: 100vw;
    height: 100vh;
}

.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon {
    color: white;
    display: flex;
    flex-direction: column;

    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
}

.pokemon .number {
    color: black;
    opacity: .3;
    text-align: right;
    font-size: .625rem;
}

.pokemon .name {
    text-transform: capitalize;
    color: white;
    font-weight: bold;
    margin-bottom: .25rem;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    color: white;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .725rem;
    text-align: center;
    border-radius: 1rem;
    filter: brightness(1.1);
}

.pokemon .detail img {
    max-width: 100%;
    height: 70px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    padding: 0.25rem 0.5rem;
    background-color: #6c79db;
    color: white;
    border: none;
    border-radius: 1rem;
    font-size: .725rem;
}
