* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Helvetica, Verdana, sans-serif;
    line-height: 20px;
}

body{
    display: flex;
    flex-direction: column;
    background-color: #34353c;
    color: #d8d6cf;
}

/* ícone e título */
.incognito{
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    align-items: center;
    font-size: x-large;
}

.icon{
    height: 120px;
    width: 120px;
    margin-bottom: 32px;
}

/* primeiro parágrafo */
.content{
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    align-items: center;
    font-size: small;
}

.learn-more{
    cursor: pointer;
    color: #5a98ef;
}

/* listas */

.lists{
    display: flex;
    margin-top: 23px;
}

/* lista da esquerda */
.left-list{
    flex-direction: column;
    margin-right: 62px;
}

.left-list .list1{
    margin-left: 18px;
}

/* lista da direita */
.right-list{
    flex-direction: column;
}

.right-list .list2{
    margin-left: 18px;
}

.cookies{
    margin-top: 32px;
    padding: 16px;
    border-radius: 5px;
    background-color: #3c4043;
}

/* footer */
.marca{
    display: flex;
    justify-content: flex-end;
    font-family: Courier, monospace, verdana;
    margin-top: 50px;
    margin-right: 5px;
}
