body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #212121;
    background-image: url(img/background-theme.jpg);
    background-size: 100%;
}

#snake{
    border: 3px solid darkgreen;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    color: white;
}