body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container_left {
    width: 50%;
    height: 100vh;
}

.title {
    margin-bottom: 100px;
}

/* FORMULÃRIO */
#gender > label {
    font-size: 1.5rem;
    font-weight: 500;
}

#gender > button {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: #f5f5f5;
}

#gender > button:hover {
    background-color: #e9e9e9;
}

#gender > button > img {
    height: 144px;
}

#gender > button > span {
    color: #46a35f;
}

.label-style {
    font-size: 1.5rem;
    font-weight: 500;
}

.input-style {
    height: 40px;
    width: 170px;
    background-color: #cef5d8;
    color: #46a35f;
    font-weight: 500;
    border: none;
    border-radius: 5px 0px 0px 5px;
}

.input-style:focus {
    outline: none;
}

.unity {
    height: 40px;
    background-color: #cef5d8;
    border-radius: 0px 5px 5px 0px;
    color: #46a35f;
}

.forms > button {
    background-color: #46a35f;
}

.forms > button:hover {
    background-color: #4fbb6c;
}

button > span {
    font-weight: 500;
    color: #fff;
}

/* RESULTADO */
.container_right {
    width: 50%;
    height: 100vh;
    background-color: #46a35f;
}

#imcInfo {
    text-transform: uppercase;
}

#IMC > h5, #idealWeight > h5 {
    font-weight: 400;
}

.info_bar {
    width: 452px;
    margin-top: 160px;
}

.info_numbers {
    background: linear-gradient(90deg, #2ebd54 0%, #db9e1a 100%);
    border-radius: 8px;
    padding: 0px 10px 0px 10px;
    font-weight: 500;
}
