/* declarando as variáveis */
:root{
    --cor-nav: #000;
    --cor-sombras: #d1d1d1;
    --boxes: #ededed;
    --fundo: #fafafa;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: var(--fundo);
}

.botao-dark {
    cursor: pointer;

    margin-top: 20px;
    margin-right: 900px;
    margin-left: 20px;
    align-items: center;

    font-size: xx-large;
    border: none;
    background-color: var(--fundo);
}

/* TOPO DA PÁGINA / MENU */
header .container{
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 16px;
    margin-top: -57px;
    margin-left: 700px;
    text-decoration: none;
}

/* estilização e espaçamento do menu */
header .a{
    margin-right: 10px;
    text-decoration: none;
    color: var(--cor-nav);
    font-size: small;
    font-family: verdana, Helvetica, sans-serif;
}

header .b{
    margin-right: 10px;
    text-decoration: none;
    color: var(--cor-nav);
    font-size: small;
    font-family: verdana, Helvetica, sans-serif;
}

header a:hover{
    text-decoration: underline;
}

header .container i{
    margin-left: 25px;
    margin-right: 20px;
}

header .container i:hover{
    margin-left: 25px;
    margin-right: 20px;
    border-radius: 100%;
    cursor: pointer;
}

header .profile{
    width: 34px;
    height: 34px;
    border-radius: 50%;
    cursor: pointer;
}

/* ÁREA DE PESQUISA / PRINCIPAL */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* logo */
main .logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 100px;
}

.logo-text{
    display: flex;
    margin-top: -25px;

    font-size: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

/* CAIXA DE PESQUISA */
main .container-search{
    display: flex;
    align-items: center;

    width: 550px;
    height: 45px;
    padding-left: 15px;
    margin-top: 30px;

    border: 1px solid var(--cor-sombras);
    border-radius: 50px;
}

main .container-search:hover{
    box-shadow: var(--cor-sombras) 1px 1px 4px 1px;
}

/* para deixar a borda do input invisível */
.input{
    margin-left: 5px;
    border: none;
    background-color: var(--fundo);
}

/* para retirar a borda que se forma ao clicar no input */
.input:focus{
    outline: 0;
}

/* BOTOES */
.botoes{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.botao-a:hover{
    box-shadow: var(--cor-sombras) 1px 1px 1px 1px; 
}

.botao-b:hover{
    box-shadow: var(--cor-sombras) 1px 1px 1px 1px; 
}

.botao-a{
    cursor: pointer;
    margin-right: 10px;
    
    border: none;
    border-radius: 5px;
    padding: 10px;

    font-size: 15px;
    color: #474747;
    background-color: var(--boxes);
}

.botao-b {
    cursor: pointer;
    margin-right: 10px;

    border: none;
    border-radius: 5px;
    padding: 10px;

    font-size: 15px;
    color: #474747;
    background-color: var(--boxes);
}

/* assinatura */
.marca {
    display: flex;
    justify-content: flex-end;
    margin-top: -18px;
    margin-right: 5px;
    font-family: Courier, monospace, verdana;
}

.marca:hover{
    cursor: default;
    color: #2354AE;
}

/* RODAPÉ */
.container-footer{
    margin-top: 137px;
}

.formatacao {
    margin-left: 15px;
    word-spacing: 20px;

    color: #474747;
    font-family: verdana, Helvetica, sans-serif;
    font-size: small;
}

.footer-servidor{
    display: flex;
    padding: 18px;
    background-color: var(--boxes);
}

.footer-menu{
    display: flex;
    padding: 18px;
    background-color: var(--boxes);
}

.footer-menu span:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* formatando aqui somente o "como funciona a pesquisa" */
.footer-menu .unique-format{
    word-spacing: 0px;
}

.menu{
    margin-left: 90px;
}

.right-text{
    margin-right: 90px;
}
