
/* Ajustando o height */
html, body, #main {
    height: 100%;
    overflow-x: hidden;
}

/* Background da página */
html {
    background: url(../img/dev-background.jpg);
    background-size: 1650px;
}

body {
    background-color: rgba(31, 31, 31, 0.8);
}

/* Cabeçalho */
header {
    background-color: #1344c2;
}

header h1 {
    color: #fff;
    font-size: 3.5em;
}

.opacity {
    background: rgba(19, 68, 194, 0.6);
}

/* Conteúdo Principal */
#main h1 {
    font-size: 3em;
    color: #f4f4f4;
}

#main p {
    font-size: 1.5em;
    font-weight: 500;
    color: #f4f4f4;
}

.btn-custom {
    background-color: #1344c2;
    color: #f4f4f4;
    font-size: 2em;
    font-weight: 600;
}

/* Rodapé */
footer {
    margin-top: -47px;
}

footer p {
    opacity: 0.3;
    font-size: 1em;
}

footer p a {
    text-decoration: none;
    color: #f4f4f4;
}

footer p a:hover {
    color: #f4f4f4;
}

/* MEDIA QUERIES */
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    html {
        background: url(../img/dev-background.jpg);
        background-size: 1500px;
    }

    /* Conteúdo Principal */
    #main h1 {
        font-size: 2.6em;
    }

    #main p {
        font-size: 1em;
        font-weight: 500;
    }

    .btn-custom {
        background-color: #1344c2;
        color: #f4f4f4;
        font-size: 1.6em;
        font-weight: 600;
    }

    footer p {
        opacity: 0.3;
        font-size: 0.6em;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    html {
        background: url(../img/dev-background.jpg);
        background-size: 1500px;
    }

    /* Conteúdo Principal */
    #main h1 {
        font-size: 2.7em;
    }

    #main p {
        font-size: 1.2em;
        font-weight: 500;
    }

    .btn-custom {
        background-color: #1344c2;
        color: #f4f4f4;
        font-size: 1.7em;
        font-weight: 600;
    }

    footer p {
        opacity: 0.3;
        font-size: 0.9em;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    /* Conteúdo Principal */
    #main h1 {
        font-size: 2.8em;
    }

    #main p {
        font-size: 1.3em;
        font-weight: 500;
    }

    .btn-custom {
        background-color: #1344c2;
        color: #f4f4f4;
        font-size: 1.8em;
        font-weight: 600;
    }

    footer p {
        opacity: 0.3;
        font-size: 0.9em;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
