* {
    margin: 0;
    padding: 0;
}

#navbar #logo h1 a {
    text-decoration: none;
}

body{
    font-size: 1em;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    background: #ececec;
}

/* Estilizando o Header */
#navbar {
    background: #2257c9;
    padding: 15px;
    text-align: center;
}

/* Deixando a palavra Blog em branco */
#blog {
    color: #fff;
}

#logo, #menu {
    padding: 10px;
}

/* Formatando a parte principal */
#main {
    width: 920px;
    padding: 15px;
    margin: 0 auto;
}

#content {
    width: 660px;
    float: left;
}

.post {
    padding: 20px;
    margin-bottom: 20px;
    background-color: white;
}

#area-lateral {
    float: right;
    width: 240px;
}

.conteudo-lateral {
    background-color: white;
    padding: 10px;
    margin-bottom: 20px;
}

.conteudo-lateral a {
    display: block;
}

.texto-lateral {
    padding: 10px;
    font-size: .8rem;
    border-bottom: 1px dotted #ccc;
}

#rodape {
    clear: both;
    text-align: center;
    padding: 15px;
    background-color: #ccc;
}

/* Formatação dos links em geral */
a {
    text-decoration: none;
}

a:link, a:visited {
    color: #2257c9;
}

a:hover {
    text-decoration: underline;
}

#navbar #menu a:link, #navbar #menu a:visited {
    color: #fff;
    padding: 8px 12px;
    font-weight: 600;
}

#navbar #menu a:hover {
    color: #2257c9;
    background: #fff;
    text-decoration: none;
}

#navbar #logo a {
    color: #4e4e4e;
}

/* Outras formatações gerais */
h1 {
    color: #4e4e4e;
    font-size: 2.5em;
}

h2 {
    color: #2257c9;
}

h3 {
    color: #565656;
    background-color: #ccc;
    padding: 10px;
}

.data-postagem {
    display: block;
    font-size: 0.8em;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
